main {
    background-color: #333333;
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

.me {
    margin-left: 50px;
    width: 200px;
    height: 200px;

}

img{
    margin-left: 50px;
    width: 159px;
    height: 100;
}

article,
h2 {
    color: #e8e8e8;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    color: #e8e8e8;
}

.miniatura {
    display: flex;

}

.teste4 {
    margin-bottom: 25px;
}

.c {
    width: 10%;
    height: 100;
}