main {
    background-color: #333333;
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

img {
    width: 200px;
    height: 200px;
}

article,
h2 {
    color: #e8e8e8;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    color: #e8e8e8;
}

.miniatura {
    margin-block-start: auto;
    display: flex;
    justify-content: space-between;
    
}

.card {
    width: 75%;
    height: 100;

}

.teste {
    margin-left: 50px;
}
.teste3{
    border-color: red;
}

.teste4{
    margin-bottom: 25px;
}